{{ partial "head" . }}
  <body>
    <div id="wrap">

      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <div class="blog-post">
          <h3>
            <strong>{{ .Title }}</strong>
          </h3>
        </div>
        {{ if isset .Params "showpagemeta" }}
        <div class="blog-title">
          <h4>
            {{ if isset .Params "date" }}
              {{ .Date.Format "January 2, 2006" }}
            {{ end }}
            &nbsp;&nbsp;
            {{ if isset .Params "tags" }}
              {{ range .Params.tags }}
            {{ end }}
            <span class="label label-success">{{ . }}</span>
            {{ end }}
          </h4>
        </div>
        {{ end }}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <!-- {{ partial "footer" . }} -->
    
  </body>
</html>
